---
import Container from "./Container.astro"

---

<div class="text-gray-600 dark:text-gray-300" id="reviews">
  <Container>
    <div class="mb-20 space-y-4 px-6 md:px-0">
      <h2 class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">
        Nuestros clientes
      </h2>
    </div>
    <div class="md:columns-2 lg:columns-3 gap-8 space-y-8">
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar.webp" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Daniela Aranda</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Ingeniera Industrial</p>
          </div>
        </div>
        <p class="mt-8">
          Nos brindaron una solución web para consultoría industrial que superó nuestras expectativas.
            Gracias a su experiencia y compromiso, hemos fortalecido nuestra presencia en línea y 
            hemos recibido comentarios positivos de nuestros clientes.        </p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/woman.png" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Juana Mendez</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Tienda de Moda</p>
          </div>
        </div>
        <p class="mt-8"> Me crearon una página que realmente refleja el estilo y la esencia de mi marca. Gracias a su dedicación y profesionalismo, 
          mi tienda ha ganado una presencia en línea sólida y he recibido elogios por la facilidad de uso de la plataforma.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-2.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Roberto Alvarez</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Contador</p>
          </div>
        </div>
        <p class="mt-8">
          Estoy muy impresionado con el trabajo realizado por el equipo de tuweb24.
           Me proporcionaron una solución web profesional para mi negocio de contabilidad que ha simplificado enormemente mis procesos y 
           mejorado la forma en que interactúo con mis clientes.
          </p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/woman.png" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Jimena Díaz</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Psicóloga</p>
          </div>
        </div>
        <p class="mt-8">
          TuWeb24 creó una página web excepcional que refleja la profesionalidad y calidez de mi práctica psicológica, facilitando la conexión con mis pacientes y mejorando su experiencia en línea.
        </p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-4.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Germán Parisini</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Duaño distribuidora</p>
          </div>
        </div>
        <p class="mt-8"> 
          Gracias a TuWeb24, nuestra distribuidora cuenta ahora con una plataforma web eficiente y atractiva que ha optimizado nuestras operaciones y fortalecido nuestra presencia en el mercado.
          </p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/profile.png" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Carlos Martin</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Dueño Ferretería</p>
          </div>
        </div>
        <p class="mt-8">
          La página web creada por TuWeb24 ha transformado nuestra ferretería, proporcionando a nuestros clientes información fácil de encontrar sobre nuestros productos y servicios. Esta plataforma sencilla pero efectiva ha mejorado nuestra visibilidad en línea y ha atraído nuevos clientes a nuestra tienda física
          </p>
      </div>

    </div>
  </Container>
</div>